@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron" style="text-align:center; margin-top:70px;">
        <h2>OrderKart for you!!</h2>
        <p style="font-family:'Angsana New'; font-size:26px;">
            Welcome to OrderCart! Log in to a world of smart shopping! Do not miss out on the Biggest Sale Ever.
        </p>
        <img class="img-responsive"  src="https://th.bing.com/th/id/R.0716b613d77454e1776cbf210766004a?rik=%2bMsmC8nV%2boELgg&riu=http%3a%2f%2fwww.uberqueue.com%2fimages%2fflipkart_old.jpg&ehk=qGw65Boi4RxI0rk6ZApbHuagOJMkJI6tPgQ%2b79JVRdQ%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" style="height:80px;width:605px;display:block;margin:0px auto;" />
    </div>
</div>
