

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" asp-action="Index"asp-controller="Product" >
            ×
        </button>
    </div>

    <div class="modal-body">
        <h4> Thank for Your interest in the Product </h4>
        <br />
        <h4> Your can go to Cart for confirming your Orders </h4>
    </div>

    <div class="modal-footer">
        <button type="submit"asp-action="Index"asp-controller="Product"class="btn btn-primary button button4">OK </button>
    </div>
</div>
